{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>
          "Love you 3000"  
        </h1>
    </div>
</div>
<div class="col-4">
    <img src="assets/img/i_love_you_3000.jpg" class="img-thumbnail">
</div>
{{> footer}}